.high-risk {
  background-color: #F48FB1
}
.medium-risk {
  background-color: #F8BBD0
}
.low-risk {
  background-color: #FCE4EC
}
.very-low-risk {
  background-color: #F1F8E9
}
.no-risk {
  background-color: #DCEDC8
}
